<div>
  <div id="610246811259316340" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
    <a routerLink="/gallery2019"><img src="../../assets/site-assets/2019-oldworld-out.png"
        onmouseover="this.src='../../assets/site-assets/2019-oldworld-in.png'"
        onmouseout="this.src='../../assets/site-assets/2019-oldworld-out.png'" /></a>
    <a routerLink="/gallery2018"><img src="../../assets/site-assets/2018-oldworld-out.png"
        onmouseover="this.src='../../assets/site-assets/2018-oldworld-in.png'"
        onmouseout="this.src='../../assets/site-assets/2018-oldworld-out.png'" /></a>
    <a routerLink="/gallery2017"><img src="../../assets/site-assets/2017-oldworld-out.png"
        onmouseover="this.src='../../assets/site-assets/2017-oldworld-in.png'"
        onmouseout="this.src='../../assets/site-assets/2017-oldworld-out.png'" /></a>
    <a routerLink="/gallery2016"><img src="../../assets/site-assets/2016-oldworld-out.png"
        onmouseover="this.src='../../assets/site-assets/2016-oldworld-in.png'"
        onmouseout="this.src='../../assets/site-assets/2016-oldworld-out.png'" /></a>
    <a routerLink="/gallery2015"><img src="../../assets/site-assets/2015-oldworld-out.png"
        onmouseover="this.src='../../assets/site-assets/2015-oldworld-in.png'"
        onmouseout="this.src='../../assets/site-assets/2015-oldworld-out.png'" /></a>
    <a routerLink="/gallery2014"><img src="../../assets/site-assets/2014-oldworld-out.png"
        onmouseover="this.src='../../assets/site-assets/2014-oldworld-in.png'"
        onmouseout="this.src='../../assets/site-assets/2014-oldworld-out.png'" /></a>
      <a routerLink="/gallery2013"><img src="../../assets/site-assets/2013-oldworld-out.png"
          onmouseover="this.src='../../assets/site-assets/2013-oldworld-in.png'"
          onmouseout="this.src='../../assets/site-assets/2013-oldworld-out.png'" /></a>
      <a routerLink="/gallery2012"><img src="../../assets/site-assets/2012-oldworld-out.png"
          onmouseover="this.src='../../assets/site-assets/2012-oldworld-in.png'"
          onmouseout="this.src='../../assets/site-assets/2012-oldworld-out.png'" /></a>
      <a routerLink="/gallery2011"><img src="../../assets/site-assets/2011-oldworld-out.png"
          onmouseover="this.src='../../assets/site-assets/2011-oldworld-in.png'"
          onmouseout="this.src='../../assets/site-assets/2011-oldworld-out.png'" /></a>
      <a routerLink="/gallery2010"><img src="../../assets/site-assets/2010-oldworld-out.png"
          onmouseover="this.src='../../assets/site-assets/2010-oldworld-in.png'"
          onmouseout="this.src='../../assets/site-assets/2010-oldworld-out.png'" /></a></div>
</div>