<div>
  <div id="355907912933774438" align="center" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
    <a routerLink="/collections"><img src="../assets/site-assets/collection-out.png"
        onmouseover="this.src='../assets/site-assets/collection-in.png'"
        onmouseout="this.src='../assets/site-assets/collection-out.png'" /></a>
        <a href="http://owdmedia.net/SearchPage.php"><img src="../assets/site-assets/search-out.png"
        onmouseover="this.src='../assets/site-assets/search-in.png'"
        onmouseout="this.src='../assets/site-assets/search-out.png'" /></a>
        <a routerLink="/year"><img src="../assets/site-assets/year-out.png"
        onmouseover="this.src='../assets/site-assets/year-in.png'"
        onmouseout="this.src='../assets/site-assets/year-out.png'" /></a>
        <a routerLink="/downloads"><img src="../assets/site-assets/download-out.png"
        onmouseover="this.src='../assets/site-assets/download-in.png'"
        onmouseout="this.src='../assets/site-assets/download-out.png'" /></a>
    <img src="../assets/site-assets/doors-out.png" onmouseover="this.src='../assets/site-assets/doors-in.png'"
      onmouseout="this.src='../assets/site-assets/doors-out.png'" />
  </div>
</div>