<div>
  <div id="718270953702473132" align="center" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><a
      routerLink="/collectionOldWorld"><img src="../../assets/site-assets/ow-oldworld-outttt.png"
        onmouseover="this.src='../../assets/site-assets/ow-oldworld-innnn.png'"
        onmouseout="this.src='../../assets/site-assets/ow-oldworld-outttt.png'" /></a><a
      routerLink="/collectionTraditional"><img src="../../assets/site-assets/td-oldworld-outttt.png"
        onmouseover="this.src='../../assets/site-assets/td-oldworld-innnn.png'"
        onmouseout="this.src='../../assets/site-assets/td-oldworld-outttt.png'" /></a><a
      routerLink="/collectionCraftsman"><img src="../../assets/site-assets/cf-oldworld-outttt.png"
        onmouseover="this.src='../../assets/site-assets/cf-oldworld-innnn.png'"
        onmouseout="this.src='../../assets/site-assets/cf-oldworld-outttt.png'" /></a><a
      routerLink="/collectionIron"><img src="../../assets/site-assets/ir-oldworld-outttt.png"
        onmouseover="this.src='../../assets/site-assets/ir-oldworld-innnn.png'"
        onmouseout="this.src='../../assets/site-assets/ir-oldworld-outttt.png'" /></a><a
      routerLink="/collectionContemporary"><img src="../../assets/site-assets/ct-oldworld-outttt.png"
        onmouseover="this.src='../../assets/site-assets/ct-oldworld-innnn.png'"
        onmouseout="this.src='../../assets/site-assets/ct-oldworld-outttt.png'" /></a></div>

</div>